/*------------------------------------------COLOR_MODE_CSS------------------------------------------*/

/* Light mode (default)*/
:root {
  --bg-body: #fbfbfb;
  --bg-floating: #fafbfc;
  --text-main: #212529;
}

/* Dark mode */
[data-bs-theme="dark"] {
  --bg-body: #121212;
  --bg-floating: #1e1e1e;
  --text-main: #f8f9fa;
}

body {
  background-color: var(--bg-body);
  color: var(--text-main);
  transition: background-color 0.3s ease; 
}

@media (min-width: 991.98px) {
  main {
    padding-left: 200px;
  }
}

span#goTop, span#project-version {
  position: fixed;
  right: 1em;
  bottom: 1em;
  background-color: var(--bg-floating);
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 5px;
}


[data-bs-theme="dark"] .select2-selection {
  background-color: #2b3035 !important;
  color: white !important;
  border-color: #495057 !important;
}


/*------------------------------------------BOOSTRAP_BG_COLOR------------------------------------------*/

.bg-white {
  background-color: var(--bg-body) !important;
}

.bg-light {
  background-color: var(--bg-floating) !important;
}

.text-white {
  color: var(--text-main) !important;
}

/*------------------------------------------PROFILE_BOX------------------------------------------*/
.profile-box {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--bg-body)
}
.profile-header {
  max-width: 600px; 
  margin: 0 auto;
}

.info-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.info-label {
    font-weight: bold;
    color: var(--bs-secondary-color);
}


/*------------------------------------------BLURRED_TEXT------------------------------------------*/
.blurred {
    filter: blur(6px);
    -webkit-filter: blur(6px);
    user-select: none;
}
.blur-btn {
    line-height: 1;
    padding: .25rem .5rem;
}
/* prevent blurred text from showing on selection in some browsers */
.blurred::selection { background: transparent; }


/*------------------------------------------FOOTER------------------------------------------*/

footer {
    background-color: var(--bg-floating);
    color: var(--text-main);
    transition: background-color 0.3s ease;
}

[data-bs-theme="dark"] footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

#main-container {
    padding-bottom: 2rem;
}